.logoContainer{
    display: flex;
    align-items: center;
}

.logo{
    max-width: 8%;
}

.header{
    font-family: "Lora";
    font-weight: 400;
    font-style: normal;
    color: #8a5525;
    font-size: 2rem;
}